
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: "lacquer", system-ui;
}




body{
background-color: #3F9A4B;
}

header{ 
    background-color: #4B9EBF;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a{
    text-decoration:none ; 
    color: white;
    font-size: 20px;
    padding: 0 15px;

}

.forside-img{
    width: 100%;
    object-fit: cover;
    object-position: center;

}


/* ---------------  INDHOLD --------------------------------------   */

h1{
    margin: 1em 1em;
    font-size: 2em;
    text-align: center;

}

    /*--Jyllandbillede--*/

.venstre-imgv{
    margin: 0em 1em;

}

.venstre-imgv{
    aspect-ratio: 1/1;
    width: 65%;
    object-fit: cover;
    border-radius: 15px;
    padding: 0.5%;

}

/* -- Fynbillede      */

.højre-imgh{
    margin: 0 14em;
    aspect-ratio: 1/1;
    width: 65%;
    object-fit: cover;
    border-radius: 15px;
    padding: 0.5%;


}



/*-- Sjællandsbillede --  */

.venstre-imgv2{
    margin: 10em 1em;

}


.venstre-imgv2{
    aspect-ratio: 1/1;
    width:65%;
    object-fit: cover;
    border-radius: 15px;
    padding: 0.5%;

}




